header {
  border-bottom: 1px solid #094067;
  width: 100%;
  background-color: #fffffe;
}

header nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header nav .logo {
  width: 80px;
  padding-top: 10px;
  height: 80px;
}

header nav .logo img {
  width: 100%;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #5f6c7b;
}

