.container2 {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container2 h1 {
  color: #094067;
  font-size: 5rem;
}

.container2 p {
  font-style: italic;
  font-weight: bold;
  color: #5f6c7b;
}

.container2 button {
  border: none;
  padding: 10px;
  background-color: #3da9fc;
}

.container2 button:hover {
  background-color: white;
  outline: 2px solid #094067;
}

.container2 button a {
  text-decoration: none;
  color: #094067;
  font-weight: bold;
  font-style: italic;
}

